<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
      <%= link_to "Edit this post", edit_post_path(post) %>
      <%= link_to "Delete this post", post, data: { "turbo-method": :delete, "turbo-confirm": 'Are you sure?' } %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
